image: quay.io/podman/stable

stages:
  - build
  - push

before_script:
  - if [ "$INSECURE" = "true" ]; then podman_args="--tls-verify=false"; else podman_args=""; fi
  - podman login $podman_args -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" "$REGISTRY_URL"

build_docker_image:
  stage: build
  script:
    - podman build -t "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA" .
  only:
    - master

push_docker_image:
  stage: push
  script:
    - podman push $podman_args "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA"
  only:
    - master