image: quay.io/podman/stable

stages:
  - build
  - push

build_docker_image:
  stage: build
  before_script:
    - podman login -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" "$REGISTRY_URL"
  script:
    - podman build -t "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA" .

push_docker_image:
  stage: push
  before_script:
    - podman login -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" "$REGISTRY_URL"
  script:
    - podman push "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA"
  only:
    - master