image: docker:stable

services:
  - name: docker:dind
    command: ["--insecure-registry=$REGISTRY_URL"]

before_script:
  - docker info

stages:
  - build
  - push

build_docker_image:
  stage: build
  before_script:
    - echo "$REGISTRY_PASSWORD" | docker login -u "$REGISTRY_USER" --password-stdin "$REGISTRY_URL"
  script:
    - docker build -t "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA" .

push_docker_image:
  stage: push
  script:
    - docker push "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA"
  only:
    - master