image: quay.io/podman/stable

stages:
  - build
  - test
  - push

before_script:
  - if [ "$INSECURE" = "true" ]; then podman_args="--tls-verify=false"; else podman_args=""; fi
  - podman login $podman_args -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" "$REGISTRY_URL"

build_docker_image:
  stage: build
  script:
    - podman build -t "$REGISTRY_URL/$CI_PROJECT_NAME:$CI_COMMIT_SHA" .
    - mkdir image
    - podman save "$REGISTRY_URL/$CI_PROJECT_NAME:$CI_COMMIT_SHA" > image/image.tar
  artifacts:
    paths:
      - image

run_tests:
  stage: test
  script:
    - podman load -i image/image.tar
    - echo "Running tests"
    - podman run --rm "$REGISTRY_URL/$CI_PROJECT_NAME:$CI_COMMIT_SHA" /bin/bash -c "ls -la && python3 -m unittest discover"

push_docker_image:
  stage: push
  script:
    - podman load -i image/image.tar
    - podman push $podman_args "$REGISTRY_URL/$CI_PROJECT_NAME:$CI_COMMIT_SHA"
  only:
    - master