image: quay.io/podman/stable

stages:
  - build

before_script:
  - podman login --tls-verify=false -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" "$REGISTRY_URL"

build:
  stage: build
  script:
    - podman build -t "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA" .
    - podman push "$REGISTRY_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA"
  only:
    - master